body{
    padding: 0px;
    margin: 0px;
}
.nav_back{
    background: #1f2831;
    height: auto;
    background: #424c58;
    transition: all 0.5s ease;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
.nav_back--scrolled {
    height: auto;
    background: #084d5d;
    transition: all 0.5s ease;
}
.nav_align{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.banner{
    background: #1f2831;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.navbar_nav{
    display: flex;
    flex-direction: column;
    padding: 0;
    row-gap: 30px;
}
.navbar-toggler{
    color: transparent !important;
    border: none !important;
}
.navbar_toggle_icon>i{
    color: #fff;
}
.nav_item{
    display: flex;
    justify-content: center;
    position: relative;
}
.nav_item:nth-child(7){
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}
.nav_menu{
    text-decoration: none;
    color: #084d5d;
    padding: 5px;
    position: relative;
}
.nav_menu:hover{
    color: #084d5d;  
}
.nav_menu::before {
    content: '';
    position: absolute;
    width: 10px;
	height: 10px;
	top: 0;
	left: 0;
    border: 2px solid #02b3dd;
    border-width: 2px 0 0 2px;
    transition: all 0.5s;
}
.nav_menu:hover::before{
    width: 100%;
    transition: all 0.5s;
}
.nav_menu::after {
	content: '';
    position: absolute;
    width: 10px;
	height: 10px;
	right: 0;
    bottom: 0;
    border: 2px solid #02b3dd;
    border-width: 0px 2px 2px 0px;
    transition: all 0.5s;
}
.nav_menu:hover::after{
    width: 100%;
    transition: all 0.5s;
}
.phone_back{
    display: flex;
    flex-wrap: wrap;
}
.phone{
    width: 30px;
    height: 30px;
    background: #01aad1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call{
    color: #fff;
    background: transparent;
}

.number{
    color: #084d5d;
    text-decoration: none;
}
.number:hover{
    text-decoration: none;
    color: #02b3dd;
    transition: all 0.5s;
}
.text_1, .text_2{
    color: #fff;
}
.urban{
    font-size: 55px;
}
.text_3{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}
.schedule{
    background: #d6de28;
    border-radius: 20px;
    padding: 7px 15px;
    border: none;
}
.building_portion{
    position: relative;
    display: flex;
    justify-content: center;
}
.images{
    width: 77%;
}
.youtube_back{
    background-image: url(../images/youtube_img.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 110px;
    height: 110px;
    display: grid;
    place-items: center;
    border: 6px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    right: 3%;
}
.youtube_click{
    width: 30px;
    height: 30px;
    background: #d6de28;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.youtube_click > a{
    color: #1f2831;
}
.fa-play{
    background: none;
}

.img_portion{
    display: grid;
    place-items: center;
}
.right_portion{
    border-right: 1px solid #ccc;
}
h4{
    position: relative;
    top: 10px;
}
.box{
    width: 100%;
    height: 90px;
    background: linear-gradient(110deg, #01aad1, #02b3dd);
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.box_2{
    width: 100%;
    height: 90px;
    background: linear-gradient(110deg, #d6de28, #dfe72f);
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.like_box{
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like_box>i{
    font-size: 20px;
}
.upper_portion{
    position: relative;
    top: 60px;
}
.like_icon{
    color: #02b3dd;
    font-size: 35px !important;
}
.box_content{
    display: flex;
    align-items: center;
    width: 100%;
}
.box_align{
    display: flex;
    justify-content: center;
}
.num{
    font-size: 28px;
    position: relative;
    top: 7px;
    color: #fff;
}
.num_2{
    font-size: 28px;
    position: relative;
    top: 7px;
    color: #000;
}

.text_5{
    color: #fff;
}
.like_change{
    color: #d6de28;
    font-size: 35px !important;
}
.back_shape{
    width: 100%;
    height: 350px;
    background: #084d5d;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
    top: 0px;
}
.user_details{
    display: grid;
    place-items: center;
    position: relative;
    top: -122px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.user{
    font-weight: 600;
    padding: 10px 0px;
    font-weight: 600;
    color: #084d5d;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #084d5d !important;
}
.nav-link{
    color: #fff !important;
}
.link{
    padding-bottom: 5px;
    position: relative;
}
.link > a{
    text-decoration: none;
    color: #1a1a1a;
    text-transform: capitalize;
}
.link > a:hover{
    text-decoration: none;
    color: #1a1a1a;
}

.travel_img{
    width:76%;
}
.our_client{
    position: relative;
    top: -10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #084d5d;
}
.line{
    width: 10%;
    height: 2px;
    background: #084d5d;
    position: relative;
    top: -10px;
}
.line_inner{
    width: 20%;
    height: 6px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
}
.text_7{
    position: relative;
}
.card_area{
    display: flex;
    justify-content: space-evenly;
    width: 90% !important;
    margin: auto;
}
 .card_list{
    height: 250px !important;
    margin: 10px;
}
.slick-dots li.slick-active button::before{
    color: #02b3dd !important;
}
.img_profile_1{
    clip-path: circle(50% at 50% 50%);
    width: 74%;
}
.client_card{
    width: 100%;
    height: 100%;
    background: #f9f9f9 !important;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 5px;
}
.profile_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    color: #084d5d;
}
.background{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    background: url(../images/banner_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 30px 0px;
}
.form_portion{
    width: 50%;
    height: 350px;
    position: relative;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.form_align{
    position: relative;
}
.icon_back{
    width: 40px;
    height: 40px;
    background: #c7c8ca;
    border-radius: 50%;
    border: 1px solid #fff;
    display: grid;
    place-items: center;
}
.call_num, .email{
    font-size: 20px;
    color: #084d5d;
}
.left_form{
    border-right: 1px solid #c7c8ca;
}
.callus_portion, .envelope_portion{
    align-items: center;
}
.text_9{
    font-weight: 500;
    color: #000;
}
.or_section{
    width: 36px !important;
    height: 36px;
    background: #c7c8ca;
    color: #084d5d;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transform: translateX(-50%) translateY(-50%);
}
input{
    width: 85%;
    margin: auto;
    border: 1px solid #929292;
    border-radius: 20px;
    background: transparent;
}
.form_area{
    display: grid;
    place-items: center;
}
::placeholder{
    color: #084d5d;
    text-transform: capitalize;
}
.contact{
    background: #01aad1;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.platform_li, .features_li{
    list-style: none;
    line-height: 29px;
}
.Company_li{
    list-style: none;
    line-height: 29px;
    color: #dfe72f;
}
.text_10{
    margin: 0;
    font-size: 11px;
    color: #fff;
}
.app{
    color: #fff;
    font-size: 15px;
}
.store_area{
    width: 100%;
    height: 55px;
    background: #424c58;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.mobile_store{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.store_icon> img{
    width: 30px;
    height: 30px;
    object-fit: scale-down;
}
.apple{
    color: #fff;
    font-size: 26px !important;
}
.text_11, span{
    color: #d6de28;
}
.icon_area{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 7px 0px;
}
.icon_circle{
    width: 40px;
    height: 40px;
    border: 2px solid #484f57;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s;
}
.icon_circle:hover{
    background: #d6de28;
    transition: all 0.5s;
    transform: scale(0.9);
    border: none;
    cursor: pointer;
}
.icon_circle>a>i{
    font-size: 20px;
    color: #5b646d;
}
.footer_last{
    display: flex;
    justify-content: space-between;
}
.footer{
    width: 100%;
    background: #131a22;
}
.heading{
    color: #fff;
}
.text_demo, .platform_li, .features_li, .kolkata, .mumbai, .connect,.address, .phone_no,.text_12, .text_13,.fa-facebook,.fa-twitter,.fa-linkedin{
    color: #5b646d;
}
.border_line{
    background-color: #242c38 !important;
}

@media screen and (max-width:1140px) {
    .travel_img{
        width: 100%;
    }
    .form_portion{
        width: 80%;
    }
    .text_10{
        font-size: 10px;
    }
    .footer_last{
        flex-direction: column;
    }
    .text_13{
        text-align: center;
    }
    .kolkata, .mumbai, .connect{
        font-size: 14px;
    }
}
@media screen and (max-width:991px) {
    .banner{
        height: auto;
        padding: 15px 0px;
        margin: 90px 0px 0px 0px;
    }
    .home_icon::after {
        top: 60%;
        left: 0px;
    }
    .phone{
        margin: 9px 0px;
    }
    .text_1, .text_2, .text_3{
        text-align: center;
    }
    .button_middle{
        text-align: center;
        margin: 30px 0px;
    }
    .right_portion{
        border: none;
    }
    .img_portion{
        margin: 20px 0px;
    }
    .box, .box_2{
        width: 50%;
        margin: 10px auto;
    }
    .box_content{
        gap: 15px;
        justify-content: center;
        padding: 0px 10px;
    }
    .travel_img{
        width: 60%;
    }
    .travel_area{
        display: flex;
        justify-content: center;
    }
    .img_profile_1{
        width: 25%;
    }
    .profile_img{
        display: flex;
        justify-content: center;
    }
    .content_center{
        text-align: center;
    }
    .left_form{
        text-align: center;
        border: none;
    }
    .or_section{
        display: none;
    }
    .form_input_portion{
        margin: auto;
    }
    .form_portion{
        height: auto;
    }
    .form_align{
        flex-direction: column;
        row-gap: 30px;
    }
    .icon_back{
        margin: auto;
        position: relative;
        top: -5px;
    } 
    .store_area{
        width: 175px;
    }
    .text_13{
        text-align: center;
    }
    .mumbai, .connect{
        margin-top: 10px;
    }
}
@media screen and (max-width:800px) {
    .text_heading{
        font-size: 29px;
    }
    .user{
        font-size: 23px;
    } 
}
@media screen and (max-width:768px){
    .text_2{
        font-size: 32px;
    }
    .card-text{
        font-size: 13px;
    }
}
@media screen and (max-width:600px){
    .text_heading, .app_heading, .our_client{
        font-size: 24px;
    }
    .link{
        padding-bottom: 5px;
    }
    .link > a{
        margin: 0px 11px;
    }
    .box, .box_2{
        width: 60%;
    }
    .card-text{
        font-size: 12px;
    }
    .form_portion{
        width: 90%;
        height: auto;
    }
    .icon_back{
        position: relative;
        top: -10px;
    }
    .or_section{
        top: -25px;
        left: 0px;
        margin: 6px auto;
    }
    .num, .num_2{
        font-size: 25px;
    }
}
@media screen and (max-width:480px){
    h4{
        font-size: 20px !important;
    }
    .slide{
        flex-direction: column;
    }
    .img_profile_1{
        width: 25%;
    }
    .card{
        width: 100%;
    }
    .link > a {
        margin: 0px 9px;
        font-size: 11px;
    }
    .text_3{
        font-size: 17px;
    }
    .name, .text_8{
        font-size: 14px;
    }
    .text_13{
        font-size: 13px;
    }
    .social_area{
        display: grid;
        place-items: center;
    }
    .icon_area{
        justify-content: center;
    }
}
@media screen and (max-width:360px){
    .text_2{
        font-size: 29px;
    }
    .youtube_back{
        width: 25%;
        height: 90px;
    }
    .text_heading{
        font-size: 22px;
    }
    .text_3,.text_7, .text_5, .text_6{
        font-size: 14px;
    }
    .link > a{
        margin: 0px 5px;
    }
    .text_13{
        font-size: 11px;
    }
}
@media screen and (max-width:320px){
    .link > a{
        margin: 0px 2px;
    }
    .text_3, .text_5, .text_6{
        font-size: 12px;
    }
    .text_heading{
        font-size: 20px;
    }
    .call_num, .email {
        font-size: 17px;
    }
    .text_12{
        font-size: 14px;
    }

}